#main-navbar{
    background-color: blue;
    float: left;
    width: 100%;
    position: relative;
}
#navbar-container{
    overflow: hidden;
}
#navbar-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
    display: block;
}
#navbar-container ul li{
    float: left;
    display: block;
    position: relative;
    right: 50%;
}
#navbar-container ul li a{
    padding: 10px 20px;
    color: #fff;
    display: block;
    text-decoration: none;
}
#navbar-container ul li a:hover {
    background-color: #000;
    text-decoration: underline overline;
}
#sidebar {
    position: fixed;
    right:0%;
    background-color: red;
    height: 100%;
    width: 20%;
}
#sidebar-container ul{
    list-style-type: none;
    text-align: center;
}
#sidebar-container ul li a{
    display: block;
    padding: 15px 0;
    color: #fff;
    text-decoration: none;
}
#sidebar-container ul li a:hover{
    background-color: #000;
}
